h1{
	align-self: center;
}

.addbtn{
    background-color: #4c4cff; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.submitbtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;

}

.title{

	padding:10px;
	background-color: #F0F0F0;
	margin-top:20px;
	margin-bottom: 10px;

}
